.container {
    display         : grid;
    gap             : 8px;
    padding         : 16px;
    border-radius   : 4px;
    background-color: var(--white-10);
    border          : 1px solid transparent;

    &:hover {
        border-color: var(--blue);

        .row .actions {
            display: flex;
        }
    }

    .row {
        display: flex;
        gap    : 16px;

        .label {
            color: var(--white-60);
        }

        .value {
            line-height: 22px;

            &.overdue {
                color: var(--red);
            }
        }

        .actions {
            position   : relative;
            top        : 3px;
            display    : none;
            gap        : 16px;
            margin-left: auto;

            .edit,
            .trash {
                width           : 18px;
                height          : 18px;
                cursor          : pointer;
                background-color: transparent;
            }

            .edit:hover {
                --color: var(--blue);
            }

            .trash:hover {
                --color: var(--red-90);
            }

        }
    }

    .buttons {
        display    : flex;
        gap        : 8px;
        margin-left: auto;

        .button {
            height          : 40px;
            width           : 40px;
            padding         : 8px;
            border-radius   : 50%;
            background-color: var(--white-08);
            cursor          : pointer;

            &:hover:not([disabled]) {
                background-color: var(--white-20);
            }

            &[disabled] {
                cursor: not-allowed;
            }
        }
    }
}
